Django==1.7
PyYAML==3.11
awsebcli==3.4.3
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
cement==2.4.0
django-storages==1.1.8
docker-py==1.1.0
dockerpty==0.3.3
docopt==0.6.2
endpoints==0.8.40
ez-setup==0.9
google==1.05
google-api-python-client==1.2
httplib2==0.9
jmespath==0.7.1
pathspec==0.3.3
protorpc==0.9.1
pyodbc==3.0.7
python-dateutil==2.4.2
requests==2.6.2
six==1.9.0
texttable==0.8.3
virtualenv==12.1.1
webapp2==2.5.2
websocket-client==0.30.0
